rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function allowedToMakeMove(player, table) {
      return request.auth.uid == player &&
        player in table.data.players //&&
        // request.resource.data.keys().hasOnly([table.data.round])
    }

    match /tables/{tableId=**} {
      allow read;
    }

    match /playerLocations/{player} {
      allow read;
    }

    match /delphsLobby/{player} {
      allow read, list;
      allow write: if request.auth.uid == player;
    }

    match /tables/{tableId}/moves/{player} {
      // allow write: if request.auth.uid == player && (player in get(/databases/$(database)/documents/tables/$(tableId)).data.players);
      allow write: if allowedToMakeMove(player, get(/databases/$(database)/documents/tables/$(tableId)))
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}